<div class="form-group"{% if element.containerAttributes is defined %} {{ element.containerAttributes|raw }}{% endif %}>
    <div class="form-check">
        {% if element.title is defined %}
        <span class="fa fa-question-circle umc-help" data-bind="umcinfo: {title: '{{ element.label }}', 'content':'{{ element.title }}'}"></span>
        {% endif %}
        <label
            class="form-check-label"
            data-bind="attr: {for: uuid('{{ element.name }}')}"
            {% if element.title is defined %} title="{{ element.title }}" {% endif %}
        >{{ element.label }}
            <input type="checkbox"
                    name="{{ element.name }}"
                    {% if element.required is defined and element.required %} required="required" {% endif %}
                    {% if element.title is defined %} title="{{ element.title }}" {% endif %}
                   data-bind="checked: data.{{ element.name }}, attr: {id:uuid('{{ element.name }}') } {% if element.additionalDataBind is defined %}, {{ element.additionalDataBind }}{% endif %}"
                   class="toggle-check-input form-check-input"
                   value="1"
            />
            <br/>
            <span class="toggle-check-text"></span>
        </label>
    </div>
</div>
