{% if module.hasEntitiesWithFlag('footer_links') %}
<?xml version="1.0"?>{{ module.getFormattedLicense('xml')|raw }}
    <page xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:View/Layout/etc/page_configuration.xsd">
        <body>
            <referenceBlock name="footer_links">
{% for entity in module.getEntitiesWithFlag('footer_links') %}
                <block class="Magento\Framework\View\Element\Html\Link\Current" name="{{ module.getNamespace()|hyphen }}-{{ entity.getNameSingular()|hyphen }}-link">
                    <arguments>
                        <argument name="label" xsi:type="string" translate="true">{{ entity.getLabelPlural() }}</argument>
                        <argument name="path" xsi:type="string">{{ module.getModuleName()|camel|lower }}/{{ entity.getNameSingular()|camel|lower }}/index</argument>
                    </arguments>
                </block>
{% endfor %}
            </referenceBlock>
        </body>
    </page>
{% endif %}
