<div class="nav nav-tabs" role="tablist">
    {% block form_tabs_navbar %}
    {% set active = true %}
    {% if form.tabs|length > 1 or form.children|length > 0 %}
        {% for id, tab in form.tabs %}
            {% if tab.fields is defined and tab.fields|length > 0 %}
            <a class="nav-item nav-link{% if active %} active {% endif %}"
               data-bind="attr: {id: uuid('nav-{{ formKey }}-{{ id }}-tab'), href: '#' + uuid('nav-{{ formKey }}-{{ id }}'), 'area-controls':  uuid('nav-{{ formKey }}-{{ id }}')}"
               data-toggle="tab"
               role="tab"
               aria-selected="true">
                <h4>{{ tab.label }}</h4>
                <i class="fa fa-exclamation-circle" style="display: none"></i>
            </a>
            {% set active = false %}
            {% endif %}
        {% endfor %}
        {% for id, child in form.children %}
            {% if formConfig[child.formKey] is defined %}
            <a class="nav-item nav-link{% if active %} active {% endif %}"
               data-bind="if: hasChild('{{ child.code }}'), {% if child.visible is defined %} visible: {{ child.visible }}, {% endif %}attr: {id: uuid('nav-{{ formKey }}-{{ child.formKey }}-tab'), href: '#' + uuid('nav-{{ formKey }}-{{ child.formKey }}'), 'area-controls':  uuid('nav-{{ formKey }}-{{ child.formKey }}')}"
               data-toggle="tab"
               role="tab"
               aria-selected="true">
                <h4>{{ child.tabLabel }} (<span data-bind="{text: childrenCount('{{ child.code }}') }"></span>)</h4>
                <i class="fa fa-exclamation-circle" style="display: none"></i>
            </a>
            {% endif %}
            {% set active = false %}
        {% endfor %}
    {% endif %}
    {% endblock %}
</div>
<div class="tab-content" id="nav-tabContent-{{ formKey }}">
    {% block from_tab_content %}
    {% set active = true %}
    {% for index, tab in form.tabs %}
        {% if tab.fields is defined and tab.fields|length > 0 %}
            <div class="tab-pane card border-top-0 fade{% if active %} show active{% endif %}"
                 data-bind="attr: {id: uuid('nav-{{ formKey }}-{{ index }}'), 'area-labelledby': uuid('nav-{{ formKey }}-{{ index }}-tab')}"
                 role="tabpanel">
                <div class="card-body">
                    {% set index = 0 %}
                    {% for name, field in tab.fields %}
                        {% if index is divisible by (tab.cols) %}
                            {% if index != 0 %}
                                </div>
                            {% endif %}
                            <div class="row">
                        {% endif %}
                        {% set field = field|merge({'name': name}) %}
                        <div class="col-{{ 12 / tab.cols }}"{% if field.containerAttributes is defined %} {{ field.containerAttributes|raw }}{% endif %}>
                             {% include field.template with {element: field} %}
                        </div>
                        {% set index = index + 1 %}
                    {% endfor %}
                    </div>
                </div>
            </div>
            {% set active = false %}
        {% endif %}
    {% endfor %}
    {% for id, child in form.children %}
        {% if formConfig[child.formKey] is defined %}
            <div class="tab-pane fade border-top-0 card"
             data-bind="if: hasChild('{{ child.code }}'), attr: {id: uuid('nav-{{ formKey }}-{{ child.formKey }}'), 'area-labelledby': uuid('nav-{{ formKey }}-{{ child.formKey }}-tab')}"
             role="tabpanel">
            <div class="card-header">
                <div class="row">
                    <div class="col-lg-9"><h4>{{ child.tabLabel }} for <span data-bind="text: panelTitle"></span></h4></div>
                    <div class="col-lg-3">
                        <ul class="nav navbar-right panel_toolbox">
                                <li class="float-right">
                                    <a title="Collapse All {{ child.tabLabel }}">
                                        <i class="fa fa-2x fa-bars" data-bind="click: collapseAllChildren('{{ child.code }}')"></i>
                                    </a>
                                </li>
                                <li class="float-right">
                                    <a title="Expand All {{ child.tabLabel }}">
                                        <i class="fa fa-2x fa-stream" data-bind="click: expandAllChildren('{{ child.code }}')"></i>
                                    </a>
                                </li>
                            <li class="float-right">
                                <a title="Collapse {{ child.tabLabel }} Section">
                                    <i data-bind="click: toggleChildContainer('{{ child.code }}'), attr: {class: visibleChildrenContainerClass.{{ child.code }}}"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body" data-bind="visible: visibleChildrenContainer.{{ child.code }}">
                <div data-bind="foreach: children.{{ child.code }}, {% if child.sortable is defined %}{{ child.sortable }}{% endif %}: children.{{ child.code }}">
                    <div class="card">
                        <div class="card-header">
                            <div class="sort-handle">
                                <a title="Sort {{ child.tabLabel }}"><i class="fa fa-2x fa-grip-vertical"></i></a>
                                <h2>
                                    <span data-bind="html: panelTitle"></span>
                                </h2>
                            </div>
                            <ul class="nav navbar-right panel_toolbox">
                                <li class="float-right">
                                    <a data-bind="click: togglePanel">
                                        <i data-bind="class: collapseClass"></i>
                                    </a>
                                </li>
                                <li class="float-right">
                                    <a data-bind="click: function (data, event) {$parent.removeChild(data, '{{ child.code }}')}">
                                        <i class="fa fa-2x fa-trash"></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>

                        </div>
                        <div class="card-body" data-bind="visible: panelVisible">
                            {% include formConfig[child.formKey].template with {form: formConfig[child.formKey], formKey: child.formKey} %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="float-left">
                    {% if child.addButton.split is defined %}
                        <span class="btn-group">
                            <button type="button" class="btn btn-primary" data-bind="click: function (data, event) {addChild(UMC.defaults.{{ child.formKey }} || {}, '{{ child.code }}')}">{{ child.addButton.label }}</button>
                            <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            {% if child.addButton.split.values is defined %}
                                <span class="dropdown-menu">
                                    {% for key, item in child.addButton.split.values %}
                                        <a class="dropdown-item" data-bind="click: function (data, event) {
                                            addChild(Object.assign(UMC.defaults.{{ child.formKey }} || {}, { {{ child.addButton.split.field }}: '{{ key }}'}), '{{ child.code }}')
                                        }">{{ item.label }}</a>
                                    {% endfor %}
                                </span>
                            {% endif %}
                        </span>
                    {% else %}
                        <button type="button" data-bind="click: function (data, event) {addChild(UMC.defaults.{{ child.formKey }} || {}, '{{ child.code }}')}" class="btn btn-primary btn">{{ child.addButton.label }}</button>
                    {% endif %}
                </div>
                <div class="clear"></div>
            </div>
        </div>
        {% endif %}
        {% set active = false %}
    {% endfor %}
    {% endblock %}
</div>
