{% if entity.getFrontendList() %}
<?php{{ module.getFormattedLicense('php') }}
/** @var \{{ module.getNamespace() }}\{{ module.getModuleName() }}\Block\{{ entity.getNameSingular()|camel|ucfirst }}\List{{ entity.getNameSingular()|camel|ucfirst }} $block */
?>
<?php ${{ entity.getNamePlural()|camel }} = $block->get{{ entity.getNamePlural()|camel|ucfirst }}();?>
<?php if (${{ entity.getNamePlural()|camel }}->getSize()) : ?>
<div class="{{ entity.getNameSingular()|hyphen }}-toolbar toolbar top"><?php echo $block->getPagerHtml(); ?></div>
<div class="{{ entity.getNameSingular()|hyphen }}-list">
    <?php foreach (${{ entity.getNamePlural()|camel }} as ${{ entity.getNameSingular()|camel }}) : ?>
        <div class="{{ entity.getNameSingular()|hyphen }}-item">
            <div class="{{ entity.getNameSingular()|hyphen }}-{{ entity.getNameAttribute().getCode()|hyphen }}">
{% if entity.getFrontendView() %}
                <a href="<?= $block->escapeUrl($block->get{{ entity.getNameSingular()|camel|ucfirst }}Url(${{ entity.getNameSingular()|camel }}));?>">
{% endif %}
                {% if entity.getFrontendView() %}    {% endif %}<?= $block->escapeHtml(${{ entity.getNameSingular()|camel }}->get{{ entity.getNameAttribute().getCode()|camel|ucfirst }}());?>
{% if entity.getFrontendView() %}
                </a>
{% endif %}
            </div>
{% for attribute in entity.getAttributes() %}
{% if attribute.getShowInList() and attribute.getCode() != entity.getNameAttribute().getCode() %}
{{ attribute.getTypeInstance().renderFrontendList()|raw }}
{% endif %}
{% endfor %}
        </div>
    <?php endforeach; ?>
    <div class="{{ entity.getNameSingular()|hyphen }}-toolbar toolbar bottom"><?php echo $block->getPagerHtml(); ?></div>
<?php else : ?>
    <?= $block->escapeHtml(__('There are no {{ entity.getLabelPlural() }} at this moment')); ?>
<?php endif;?>
{% endif %}
