        <dynamicRows name="{{ attribute.getCode() }}">
            <settings>
                <addButtonLabel translate="true">Add {{ attribute.getLabel() }}</addButtonLabel>
                <additionalClasses>
                    <class name="admin__field-wide">true</class>
                </additionalClasses>
                <componentType>dynamicRows</componentType>
                <dndConfig>
                    <param name="enabled" xsi:type="boolean">true</param>
                </dndConfig>
{% if attribute.getNote() %}
                <notice>{{ attribute.getNote() }}</notice>
{% endif %}
{% if attribute.getTooltip() %}
                <tooltip>
                    <description> {{ attribute.getTooltip() }}</description>
                </tooltip>
{% endif %}
            </settings>
            <container name="record">
                <argument name="data" xsi:type="array">
                    <item name="config" xsi:type="array">
                        <item name="label" xsi:type="string" translate="true" />
                        <item name="isTemplate" xsi:type="boolean">true</item>
                        <item name="is_collection" xsi:type="boolean">true</item>
                        <item name="showFallbackReset" xsi:type="boolean">false</item>
                    </item>
                </argument>
{% if attribute.isExpanded() %}
                <fieldset name="{{ attribute.getCode() }}_row">
                    <settings>
                        <label translate="true">{{ attribute.getLabel()|ucfirst }}</label>
                        <collapsible>true</collapsible>
                    </settings>
{% endif %}
{% set indent = '' %}
{% if (attribute.isExpanded()) %}
{% set indend = ' '|repeat(4) %}
{% endif %}
{% for field in attribute.getDynamic() %}
{{ field.getTypeInstance().renderTemplate('dynamic_form', {indent: indent, extraVars: extraVars})|raw }}
{% endfor %}
{% if attribute.isExpanded() %}
                </fieldset>
{% endif %}
                <actionDelete template="Magento_Backend/dynamic-rows/cells/action-delete">
                    <argument name="data" xsi:type="array">
                        <item name="config" xsi:type="array">
                            <item name="fit" xsi:type="boolean">false</item>
                        </item>
                    </argument>
                    <settings>
                        <additionalClasses>
                            <class name="data-grid-actions-cell">true</class>
                        </additionalClasses>
                        <dataType>text</dataType>
                        <label>Actions</label>
                        <componentType>actionDelete</componentType>
                    </settings>
                </actionDelete>
            </container>
        </dynamicRows>
