        <field name="{{ attribute.getCode() }}" formElement="fileUploader">
            <argument name="data" xsi:type="array">
                <item name="config" xsi:type="array">
                    <item name="source" xsi:type="string">{{  attribute.getEntity().getNameSingular()|snake }}</item>
                </item>
            </argument>
            <settings>
                <dataType>text</dataType>
                <label translate="true">{{ attribute.getLabel() }}</label>
                <dataScope>{{ attribute.getCode() }}</dataScope>
                <elementTmpl>ui/form/element/uploader/uploader</elementTmpl>
            </settings>
            <formElements>
                <fileUploader>
                    <settings>
                        <uploaderConfig>
                            <param xsi:type="url" name="url" path="{{ module.getAdminRoutePrefix() }}/{{ entity.getNameSingular()|camel|lower }}_{{ attribute.getType() }}/upload/field/{{ attribute.getCode() }}"/>
                        </uploaderConfig>
                        <previewTmpl>{{ module.getUmcCrudNamespace()|camel|ucfirst }}_{{ module.getUmcModuleName()|camel|ucfirst }}/preview</previewTmpl>
                    </settings>
                </fileUploader>
            </formElements>
        </field>
