{% if module.isFrontend() %}
<?xml version="1.0"?>{{ module.getFormattedLicense('xml')|raw }}
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="{{ module.getModuleName()|snake }}" translate="label" type="text" sortOrder="{{ module.getConfigTabPosition }}" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>{{ module.getConfigTab() }}</label>
            <tab>general</tab>
            <resource>{{ module.getAclName() }}_config</resource>
{% set position = 0 %}
{% for entity in module.getFrontendEntities() %}
{% set position = position + 10 %}
            <group id="{{ entity.getNameSingular()|snake }}" translate="label" sortOrder="{{ position }}" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>{{ entity.getLabelSingular() }}</label>
                <field id="breadcrumbs" type="select" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Breadcrumbs</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
{% if entity.isFrontendList() and entity.isSeo() %}
                <field id="meta_title" type="text" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>List page meta title</label>
                </field>
                <field id="meta_description" type="text" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>List page meta description</label>
                </field>
                <field id="meta_keywords" type="text" translate="label" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>List page meta keywords</label>
                </field>
{% endif %}
            </group>
{% endfor %}
        </section>
    </system>
</config>
{% endif %}