{% if module.hasFrontend()  %}
<?xml version="1.0"?>{{ module.getFormattedLicense('xml')|raw }}
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="{{ module.getNamespace()|snake }}_{{ module.getModuleName()|snake }}" sortOrder="{{ module.getConfigTabPosition() }}">
            <label>{{ module.getConfigTab() }}</label>
        </tab>
        <section id="{{ module.getNamespace()|snake }}_{{ module.getModuleName()|snake }}" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>{{ module.getConfigTab() }}</label>
            <tab>{{ module.getNamespace()|snake }}_{{ module.getModuleName()|snake }}</tab>
            <resource>{{ module.getNamespace() }}_{{ module.getModuleName() }}::{{ module.getModuleName()|snake }}_config</resource>
{% for entity in module.getEntities() %}
{% if entity.getFrontendView() or entity.getFrontendList() %}
            <group id="{{ entity.getNameSingular()|snake }}" type="text" sortOrder="{{ entity.getPosition() }}" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>{{ entity.getLabelPlural() }}</label>
                <field id="breadcrumbs" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Breadcrumbs</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
{% if entity.getFrontendList() %}
                <field id="meta_title" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>{{ entity.getLabelSingular() }} list meta title</label>
                </field>
                <field id="meta_description" type="textarea" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>{{ entity.getLabelSingular() }} list meta description</label>
                </field>
                <field id="meta_keywords" type="textarea" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>{{ entity.getLabelSingular() }} list meta keywords</label>
                </field>
{% endif %}
            </group>
{% endif %}
{% endfor %}
        </section>
    </system>
</config>
{% endif %}
