<div class="form-group"{% if element.containerAttributes is defined %} {{ element.containerAttributes|raw }}{% endif %}>
    <div class="form-check">
        <label
            class="form-check-label text-center"
            data-bind="attr: {for: uuid('{{ element.name }}')}"
            {% if element.title %} title="{{ element.title }}" {% endif %}
        >{{ element.label }}
            <input type="radio"
                    name="{{ element.name }}"
                    {% if element.required is defined and element.required %} required="required" {% endif %}
                    {% if element.title %} title="{{ element.title }}" {% endif %}
                   data-bind="checked: data.{{ element.name }}, attr: {id:uuid('{{ element.name }}') } {% if element.additionalDataBind is defined %}, {{ element.additionalDataBind }}{% endif %}"
                   class="toggle-check-input form-check-input"
                   value="1"
            />
            <br />
            <span class="toggle-check-text"></span>
        </label>
    </div>
</div>
