            <?php if (${{ attribute.getCode()|camel }} = ${{ entity.getNameSingular()|camel }}->get{{ attribute.getCode()|camel|ucfirst }}()) :?>
            <div class="{{ entity.getNameSingular()|hyphen }}-{{ attribute.getCode()|hyphen }}">
                <strong><?= $block->escapeHtml(__('{{ attribute.getLabel() }}')) ?></strong>:
                <?= $block->escapeHtml(${{ attribute.getCode()|camel }});?>
            </div>
            <?php endif;?>
