{{ indent }}<strong><?= ${{ extraVars.escaper }}->escapeHtml(__('{{ attribute.getLabel() }}')); ?></strong>
{{ indent }}<?php $href = $formatter->formatHtml(
{{ indent }}    ${{entity.getNameSingular()|camel}}->get{{ attribute.getCode()|camel|ucfirst }}(),
{{ indent }}    [
{{ indent }}        'type' => 'file',
{{ indent }}        'path' => '{{ entity.getUploadFolder('file') }}'
{{ indent }}    ]
{{ indent }}); ?>
{{ indent }}<a href="<?= ${{ extraVars.escaper }}->escapeUrl($href); ?>" target="_blank">
{{ indent }}    <?php //phpcs:disable Magento2.Functions.DiscouragedFunction?>
{{ indent }}    <?= ${{ extraVars.escaper }}->escapeHtml(basename(${{entity.getNameSingular()|camel}}->get{{ attribute.getCode()|camel|ucfirst }}())); ?>
{{ indent }}    <?php //phpcs: enable?>
{{ indent }}</a>
