{% extends "@UmcCore/base.html.twig" %}
{% block additional_fixed_top %}
    {{ parent() }}
    <button type="button" class="btn btn-danger" data-bind="{click: submitForm}">Save Default Settings</button>
{% endblock %}
{% block body %}
    <form id="settings" action="{{ saveUrl }}" method="post">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-9"><h3>{{ title }}</h3></div>
                    <div class="col-3">{% include '@UmcCore/edit/form/field/checkbox.html.twig' with {element: restore} %}</div>
                </div>
            </div>
            <div class="card-body">
                {% for key, form in config %}
                    {% if form.fields|length > 0 %}
                    <div class="card">
                        <div class="card-header">
                            <h2>{{ form.settings_label }}</h2>
                        </div>
                        <div class="card-body">
                            {% include '@UmcCore/settings/form.html.twig' with {form: form, formKey:key } %}
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="card-footer"></div>
        </div>
    </form>
    {% include '@UmcCore/modal.html.twig' with {id: "response-modal"} %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/umccore/ko/ko.js') }}"> </script>
    <script type="text/javascript" src="{{ asset('bundles/umccore/umc/settings.js') }}"> </script>
    <script type="text/javascript">
        ko.applyBindings(new UMC.Settings({{ values|json_encode|raw }}, {{ fields|json_encode|raw }}));
    </script>
{% endblock %}
