<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Magento Ultimate Module Creator{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('jquery-ui/jquery-ui.css') }}" />
            <link rel="stylesheet" href="{{ asset('jquery-ui/jquery-ui.icon-font.css') }}" />
            <link rel="stylesheet" href="{{ asset('select2/select2.css') }}" />
            <link rel="stylesheet" href="{{ asset('select2/select2-bootstrap.css') }}" />
            <link rel="stylesheet" href="{{ asset('umc/umc.css') }}" />
        {% endblock %}
    </head>
    <body>
        <div id="body-loader" class="loading" style="display: none">
            <span class="loading-icon ui-icon ui-icon-loading-status-balls">Wait for it....</span>
        </div>
        <div class="container">
            <ul class="nav nav-tabs">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Menu</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ url('index') }}">Module List</a>
                        <a class="dropdown-item" href="{{ url('edit') }}">Create Module</a>
                        <a class="dropdown-item" href="{{ url('files') }}">Files</a>
                        <a class="dropdown-item" href="{{ url('settings') }}">Settings</a>
                        <a class="dropdown-item" href="{{ url('docs') }}">Docs</a>
                    </div>
                </li>
            </ul>
            {% block body %}{% endblock %}
        </div>
        <footer class="page-footer font-small blue">
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">
                <a href="https://github.com/UltimateModuleCreator/umc" target="_blank">Ultimate Module Creator v{{ appVersion() }}</a>
            </div>
            <!-- Copyright -->
        </footer>
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('jquery/jquery.js') }}"> </script>
            <script type="text/javascript" src="{{ asset('jquery-ui/jquery-ui.js') }}"> </script>
            <script type="text/javascript" src="{{ asset('bootstrap/js/popper.js') }}"> </script>
            <script type="text/javascript" src="{{ asset('bootstrap/js/bootstrap.js') }}"> </script>
        {% endblock %}
    </body>
</html>
