<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Magento Ultimate Module Creator{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('font-awesome/css/font-awesome.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('select2/select2.css') }}" />
            <link rel="stylesheet" href="{{ asset('select2/select2-bootstrap.css') }}" />
            <link rel="stylesheet" href="{{ asset('gentelella/css/custom.min.css') }}" />
            <link rel="stylesheet" href="{{ asset('umc/umc.css') }}" />
        {% endblock %}
    </head>
    <body class="nav-md">
    <div id="body-loader" class="loading" style="display: none">
        <span class="loading-icon fa fa-spinner">Wait for it....</span>
    </div>
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="#" class="site_title"><i class="fa fa-puzzle-piece"></i> <span>UMC</span></a>
                    </div>
                    <div class="clearfix"></div>
                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>Menu</h3>
                            {{ appMenu().render() | raw }}
                        </div>
                    </div>
                    <!-- /sidebar menu -->
                </div>
            </div>
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <div>
                        {% for label, messages in app.flashes %}
                            {% for message in messages %}
                                <div class="alert alert-{{ label }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% block body %}{% endblock %}
                    </div>
                </div>
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    <a href="https://github.com/UltimateModuleCreator/umc" target="_blank">Ultimate Module Creator v{{ appVersion() }}</a><br />
                    Ui provided by <a href="https://colorlib.com">Colorlib</a> Gentelella - Bootstrap Admin Template
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    {% block javascripts %}
    <!-- jQuery -->
<script type="text/javascript" src="{{ asset('jquery/jquery.js') }}"> </script>
    <script type="text/javascript" src="{{ asset('jquery-ui/jquery-ui.js') }}"> </script>
    <script type="text/javascript">
        $.widget.bridge('uitooltip', $.ui.tooltip);
    </script>
    <script type="text/javascript" src="{{ asset('bootstrap/js/bootstrap.js') }}"> </script>
    {% endblock %}
    </body>
</html>
