{% extends "base.html.twig" %}
{% block body %}
    <h3 data-role="umc-title">{{ title }}</h3>
    <div data-role="umc">
        {{ form_start(forms.module) }}
        <div class="panel panel-default col-lg-12">
            <div class="panel-body">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-lg-9"><h3>Module Information</h3></div>
                            <div class="col-lg-3">
                                <ul class="nav navbar-right panel_toolbox">
                                    <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">{{ form_widget(forms.module) }}</div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-9"><h3>Entities</h3></div>
                    <div class="col-lg-3">
                        <ul class="nav navbar-right panel_toolbox">
                            <li class="pull-right"><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div data-role="entity-container">

                </div>
            </div>
            <div class="panel-footer">
                <button type="button" data-role="add-entity" class="btn btn-primary btn">Add Entity</button>
            </div>
        </div>
        <div class="panel panel-default col-lg-12 no-padding">
            <div class="panel-heading">
                <button type="button" data-role="save" class="btn btn-danger btn">Save Module</button>
            </div>
        </div>
        {{ form_end(forms.module) }}
    </div>
    <div id="entity-short" style="display: none;">
        <div class="panel panel-default" data-role="entity-panel" data-entity-id="__id__">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-9"><h3>__title__</h3></div>
                    <div class="col-lg-3">
                        <ul class="nav navbar-right panel_toolbox">
                            <li class="pull-right">
                                <a class="delete-link"><i class="fa fa-trash"></i></a>
                            </li>
                            <li class="pull-right">
                                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li class="pull-right">
                                <a class="edit-link"><i class="fa fa-edit"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <h3>Attributes</h3>
                <div data-role="attribute-container-__id__"></div>
            </div>
            <div class="panel-footer">
                <button type="button" data-role="add-attribute" class="btn btn-primary btn">Add Attribute</button>
            </div>
        </div>
    </div>
    <div id="attribute-short" style="display: none;">
        <div class="panel panel-default no-padding" data-role="entity-panel" data-entity-id="__entity_id__" data-attribute-id="__id__">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-9">
                        <h3>__title__</h3>
                    </div>
                    <div class="col-lg-3">
                        <ul class="nav navbar-right panel_toolbox">
                            <li class="pull-right">
                                <a class="delete-link" title="Delete attribute"><i class="fa fa-trash"></i></a>
                            </li>
                            <li class="pull-right">
                                <a class="edit-link" title="Edit Attribute"><i class="fa fa-edit"></i></a>
                            </li>
                            <li class="pull-right">
                                <a class="dnd-link" title="Sort Attributes"><i class="fa fa-arrows"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="entity-modal" data-current-entity-id="">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-lg-11"><h5 class="modal-title"></h5></div>
                        <div class="col-lg-1">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span class="fa fa-close"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    {{ form(forms.entity) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-role="save-entity">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="attribute-modal" data-current-entity-id="" data-current-attribute-id="">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="row">
                        <div class="col-lg-11"><h5 class="modal-title"></h5></div>
                        <div class="col-lg-1">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span class="fa fa-close"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    {{ form(forms.attribute) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-role="save-attribute">Save</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1" role="dialog" id="response-modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('jquery/form-validator.js') }}"> </script>
    <script type="text/javascript" src="{{ asset('select2/select2.js') }}"> </script>
    <script type="text/javascript">
        $.fn.select2.defaults.set( "theme", "bootstrap" );
    </script>
    <script type="text/javascript" src="{{ asset('umc/umc.js') }}"> </script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            var storageData = null;
            try {
                storageData = JSON.parse(localStorage.umc);
            } catch (e) {}
            var data = {{ data|json_encode|raw }};
            if (storageData && {{ is_new_mode }}) {
                console.log(storageData);
                if (confirm("It looks like you previously started creating a module. Do you want to continue?\n 'OK' to continue editing where you left off,\n 'Cancel' to start over!")) {
                    data = storageData;
                } else {
                    delete localStorage.umc;
                }
            }
            $('[data-role=umc]').umc({
                data: data,
                attrConfig: {{ attribute_config|raw }},
                defaults: {{ defaults|json_encode|raw }},
                submitAction: '{{ submit_action }}'
            });
            $.validate({
                lang: 'en'
            });
        });
    </script>
{% endblock %}
