<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section active">
        <ul class="nav side-menu">
            <li data-role="menu-index">
                <a href="{{ path('index') }}">
                    <i class="fas fa-list"></i>
                    <span>Platforms</span>
                </a>
            </li>
{#            <li data-role="menu-edit">#}
{#                <a href="{{ path('platform') }}">#}
{#                    <i class="fas fa-edit"></i>#}
{#                    <span>Create Module</span>#}
{#                </a>#}
{#            </li>#}
{#            <li data-role="menu-files">#}
{#                <a href="{{ path('files') }}">#}
{#                    <i class="fas fa-file"></i>#}
{#                    <span>Files</span>#}
{#                </a>#}
{#            </li>#}
{#            <li data-role="menu-settings">#}
{#                <a href="{{ path('settings') }}">#}
{#                    <i class="fas fa-cogs"></i>#}
{#                    <span>Settings</span>#}
{#                </a>#}
{#            </li>#}
{#            <li data-role="menu-docs">#}
{#                <a href="{{ path('docs') }}">#}
{#                    <i class="fas fa-book"></i>#}
{#                    <span>Docs</span>#}
{#                </a>#}
{#            </li>#}
        </ul>
    </div>
</div>
<!-- /sidebar menu -->
