{% extends "@UmcCore/base.html.twig" %}
{% block body %}
    <form id="settings" action="{{ path('save-settings') }}" method="post">
        <div class="card">
            <div class="card-header">
                <h3>Default settings</h3>
            </div>
            <div class="card-body">
                {% for form in forms %}
                    <div class="card">
                        <div class="card-header">
                            <h2>{{ form.settings_label }}</h2>
                        </div>
                        <div class="card-body">
                            {% include 'form/elements/form.html.twig' with {form: form.rows} %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-danger" data-bind="{click: submitForm}">Save Default Settings</button>
            </div>
        </div>
    </form>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('ko/ko.js') }}"> </script>
    <script type="text/javascript" src="{{ asset('jquery/form-validator.js') }}"> </script>
    <script type="text/javascript" src="{{ asset('select2/select2.js') }}"> </script>
    <script type="text/javascript" src="{{ asset('umc/settings.js') }}"> </script>
    <script type="text/javascript">
        $.fn.select2.defaults.set( "theme", "bootstrap" );
    </script>
    <script type="text/javascript">
        ko.applyBindings(new Settings({{ values|json_encode|raw }}, {{ all_fields|json_encode|raw }}));
        jQuery(document).ready(function ($) {
            $('[data-pretty-select=true]').select2({ width: '100%' });
        });
    </script>
{% endblock %}
