{% if entity.getFrontendList() %}
<?xml version="1.0"?>{{ module.getFormattedLicense('xml')|raw }}
<page layout="2columns-left" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:View/Layout/etc/page_configuration.xsd">
    <body>
        <referenceContainer name="content">
            <block class="{{ module.getNamespace() }}\{{ module.getModuleName() }}\Block\{{ entity.getNameSingular()|camel|ucfirst }}\List{{ entity.getNameSingular()|camel|ucfirst }}" template="{{ module.getNamespace() }}_{{ module.getModuleName() }}::{{ entity.getNameSingular()|snake }}/list.phtml" name="{{ module.getNamespace()|snake }}.{{ module.getModuleName()|snake }}.{{ entity.getNameSingular()|snake }}.list" />
        </referenceContainer>
    </body>
</page>
{% endif %}
