{% if entity.isFrontend() %}
<?php{{ module.getFormattedLicense('php') }}
/** @var \Magento\Framework\View\Element\Template $block */
/** @var $list{{ entity.getNameSingular()|camel|ucfirst }} \{{ module.getNamespace()|camel|ucfirst }}\{{ module.getModuleName()|camel|ucfirst }}\ViewModel\{{ entity.getNameSingular()|camel|ucfirst }}\List{{ entity.getNameSingular()|camel|ucfirst }} */
$list{{ entity.getNameSingular()|camel|ucfirst }} = $block->getData('list{{ entity.getNameSingular()|camel|ucfirst }}');
/** @var $formatter \{{ module.getUmcCrudNamespace()|camel|ucfirst }}\{{ module.getUmcModuleName()|camel|ucfirst }}\ViewModel\Formatter */
$formatter = $block->getData('formatter');
{% if entity.isFrontend() %}
/** @var ${{ entity.getNameSingular()|camel }}Url \{{ module.getNamespace()|camel|ucfirst }}\{{ module.getModuleName()|camel|ucfirst }}\ViewModel\{{ entity.getNameSingular()|camel|ucfirst }}\Url */
${{ entity.getNameSingular()|camel }}Url = $block->getData('{{ entity.getNameSingular()|camel }}Url');
{% endif %}
?>
<?php if ($list{{ entity.getNameSingular()|camel|ucfirst }}): ?>
    <?php ${{entity.getNamePlural()|camel}} = $list{{ entity.getNameSingular()|camel|ucfirst }}->getCollection();?>
    <?php if (${{entity.getNamePlural()|camel}}->getSize()): ?>
        <div class="{{entity.getNameSingular()|hyphen}}-toolbar toolbar top"><?= $list{{ entity.getNameSingular()|camel|ucfirst }}->getPagerHtml(); ?></div>
        <div class="{{entity.getNameSingular()|hyphen}}-list">
            <?php foreach (${{entity.getNamePlural()|camel}} as ${{entity.getNameSingular()|camel}}): ?>
                <?php /** @var \{{ module.getNamespace()|camel|ucfirst }}\{{ module.getModuleName()|camel|ucfirst }}\Model\{{ entity.getNameSingular()|camel|ucfirst }} ${{entity.getNameSingular()|camel}} */?>
                <div class="{{entity.getNameSingular()|hyphen}}-item">
                    <div class="{{entity.getNameSingular()|hyphen}}-{{ entity.getNameAttribute().getCode()|hyphen }}">
                        <?php if (${{ entity.getNameSingular()|camel }}Url): ?>
                            <a href="<?= $block->escapeUrl(${{ entity.getNameSingular()|camel }}Url->get{{entity.getNameSingular()|camel|ucfirst}}Url(${{ entity.getNameSingular()|camel }})); ?>">
                                <span><?= $block->escapeHtml(${{ entity.getNameSingular()|camel }}->get{{entity.getNameAttribute().getCode()|camel|ucfirst}}()); ?></span>
                            </a>
                        <?php else: ?>
                            <span><?= $block->escapeHtml(${{ entity.getNameSingular()|camel }}->get{{entity.getNameAttribute().getCode()|camel|ucfirst}}()); ?></span>
                        <?php endif;?>
                        <span><?= $block->escapeHtml(${{ entity.getNameSingular()|camel }}Url->get{{entity.getNameAttribute().getCode()|camel|ucfirst}}()); ?></span>
                    </div>
                    <?php if ($formatter): ?>
                        <div class="{{entity.getNameSingular()|hyphen}}-details">
{% for attribute in entity.getAttributesWithFlag('show_in_list') %}
                            <div class="{{ entity.getNameSingular()|hyphen }}-{{ attribute.getCode()|hyphen }}">
{{ attribute.getTypeInstance().renderTemplate('frontend', {indent: " "|repeat(36)})|raw }}
                            </div>
{% endfor %}
                        </div>
                    <?php endif; ?>
                </div>
            <?php endforeach; ?>
        </div>
        <div class="{{entity.getNameSingular()|hyphen}}-toolbar toolbar bottom"><?= $list{{ entity.getNameSingular()|camel|ucfirst }}->getPagerHtml(); ?></div>
    <?php else: ?>
            <?= $block->escapeHtml(__('There are no {{ entity.getLabelPlural() }} at this moment')); ?>
    <?php endif ?>
<?php endif;
{% endif %}
