        <field name="{{ attribute.getData('code') }}" formElement="input">
            <argument name="data" xsi:type="array">
                <item name="config" xsi:type="array">
                    <item name="source" xsi:type="string">{{ attribute.getEntity().getData('name_singular')|snake }}</item>
{% if attribute.getData('default_value') %}
                        <item name="default" xsi:type="string">{{ attribute.getData('default_value') }}</item>
{% endif %}
                </item>
            </argument>
            <settings>
{% if attribute.getData('required') %}
                <validation>
                    <rule name="required-entry" xsi:type="boolean">true</rule>
                </validation>
{% endif %}
                <dataType>text</dataType>
                <label translate="true">{{ attribute.getData('label') }}</label>
                <dataScope>{{ attribute.getData('code') }}</dataScope>
{% if attribute.getData('note') %}
                <notice>{{ attribute.getData('note') }}</notice>
{% endif %}
            </settings>
        </field>
