        <field name="{{ attribute.getCode() }}" formElement="input">
            <argument name="data" xsi:type="array">
                <item name="config" xsi:type="array">
                    <item name="source" xsi:type="string">{{ attribute.getEntity().getNameSingular()|snake }}</item>
{% if attribute.getDefaultValue() %}
                        <item name="default" xsi:type="string">{{ attribute.getDefaultValue() }}</item>
{% endif %}
                </item>
            </argument>
            <settings>
{% if attribute.getRequired() %}
                <validation>
                    <rule name="required-entry" xsi:type="boolean">true</rule>
                </validation>
{% endif %}
                <dataType>text</dataType>
                <label translate="true">{{ attribute.getLabel() }}</label>
                <dataScope>{{ attribute.getCode() }}</dataScope>
{% if attribute.getNote() %}
                <notice>{{ attribute.getNote() }}</notice>
{% endif %}
            </settings>
        </field>
