        <field name="{{ attribute.getCode() }}" formElement="checkbox">
            <argument name="data" xsi:type="array">
                <item name="config" xsi:type="array">
                    <item name="source" xsi:type="string">{{  attribute.getEntity().getNameSingular()|snake }}</item>
{% if attribute.getDefaultValue() %}
                    <item name="default" xsi:type="string">{{ attribute.getDefaultValue() }}</item>
{% endif %}
                </item>
            </argument>
            <settings>
                <dataType>text</dataType>
                <label translate="true">{{ attribute.getLabel() }}</label>
                <dataScope>{{ attribute.getCode() }}</dataScope>
{% if attribute.getNote() %}
                <notice>{{ attribute.getNote() }}</notice>
{% endif %}
{% if attribute.getTooltip() %}
                    <tooltip>
                        <description>{{ attribute.getTooltip() }}</description>
                    </tooltip>
{% endif %}
            </settings>
            <formElements>
                <checkbox>
                    <settings>
                        <valueMap>
                            <map name="false" xsi:type="number">0</map>
                            <map name="true" xsi:type="number">1</map>
                        </valueMap>
                        <prefer>toggle</prefer>
                    </settings>
                </checkbox>
            </formElements>
        </field>
